body{
    background-color: rebeccapurple;
}
#d1{

    background: hsla(17, 95%, 50%, 1);
    background: linear-gradient(90deg, rgba(19, 116, 35, 0.644) 0%, rgb(248, 128, 42) 100%)

}
#d2{
    background-color: bisque;
}
#d3{
    background-color: white;
    border: 1px solid black;
    
}
#a1{
    border: 5px double black;
    width:auto;        
}
#a2{
    width: 20%;
}
#a3{
  width: 20%;   
}
#a4{
  width: 19%;   
}
#d10{
    background: hsla(17, 95%, 50%, 1);
    background: linear-gradient(90deg, rgba(19, 116, 35, 0.644) 0%, rgb(248, 128, 42) 100%)

}

